{%- extends '_template/bootstrap.html.twig' -%}

{% block pageTitle%}Your Timestamps{% endblock %}

{% block bodyContent %}
    <div class="row">
        <div class="col-sm-12 col-md-11 col-lg-10">
            <div id="action-toolbar">
                <p>
                    {# manual timestamp #}
                    <a class="btn btn-success" href="{{
                        path('timeclock.new_stamp')
                    }}">
                        Add a Timestamp Manually
                        <i class="icon ion ion-ios-compose-outline"></i>
                    </a>

                    {# punch-out #}
                    {% if openTimestamp %}
                        <a class="btn btn-danger" href="{{
                        path('timeclock.out')
                        }}" title="Punched in on project: {{ openTimestamp.project.title }}">
                            Punch Out
                            <i class="icon ion ion-ios-download-outline"></i>
                        </a>
                    {% endif %}
                </p>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Start</th>
                            <th>Stop</th>
                            <th>Hours</th>
                            <th>Project</th>
                            <th>Billed</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for timestamp in timestamps %}
                            <tr class="{{ timestamp.open ? 'warning'}}">
                                <td>{{ timestamp.startStamp|date('g:ia<b\\r>(n/j)')|raw }}</td>
                                <td>{{ timestamp.stopStamp
                                    ? timestamp.stopStamp|date('g:ia<b\\r>(n/j)')|raw
                                    : '(open)' }}</td>
                                <td>{{ timestamp.hours }}</td>
                                <td>
                                    {{ timestamp.project.title }}
                                    {% if timestamp.description %}
                                        <br/>
                                        <small class="text-muted"><em>{{ timestamp.description }}</em></small>
                                    {% endif %}
                                </td>
                                <td>
                                {% if timestamp.billed %}
                                    <span class="text-success"><b>Yes</b></span>
                                {% else %}
                                    <span class="text-warning">No</span>
                                {% endif %}</td>
                                <td class="text-right">
                                    <a class="btn btn-xs btn-default" href="{{
                                        path('timeclock.edit_stamp', {'timestamp': timestamp.id})
                                    }}">Edit <i class="icon ion ion-ios-list-outline"></i></a>
                                    <a class="btn btn-xs btn-danger" href="{{
                                        path('timeclock.delete_stamp', {'timestamp': timestamp.id})
                                    }}">Delete <i class="icon ion ion-ios-trash-outline"></i></a>
                                </td>
                            </tr>
                        {% else %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}