{% extends '_template/bootstrap.html.twig' %}

{% block pageTitle %}Create Your Account{% endblock %}

{% block bodyContent %}
    <div class="row">
        <div class="col-lg-5 col-sm-6">

            <div class="panel panel-default">
                <div class="panel-body">
                    {{ form_start(regForm) }}
                    <div class="row">
                        <div class="col-sm-12">{{ form_row(regForm.email) }}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">{{ form_row(regForm.password) }}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">{{ form_row(regForm.firstName) }}</div>
                        <div class="col-sm-6">{{ form_row(regForm.lastName) }}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">{{ form_row(regForm.title) }}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">{{ form_row(regForm.industry) }}</div>
                    </div>
                    <div class="buttons">
                        {% autoescape false %}
                        {{ form_widget(regForm.submit, {
                            'label': 'Register Now',
                            'icon': 'ion-ios-checkmark-outline',
                            'attr': {
                                'class': 'btn-success'
                            }
                        })|raw }}
                        {% endautoescape %}
                    </div>
                    {{ form_end(regForm) }}
                </div>
            </div>

        </div>
    </div>
{% endblock %}
