{%- extends '_template/bootstrap.html.twig' -%}

{% block pageTitle %}Projects{% endblock %}

{% block bodyContent %}
    <div class="row">
        <div class="col-sm-6">

            {# action toolbar #}
            <div id="action-toolbar">

            {% if clients|length > 0 %}

                {{ form_start(actionForm, {
                    'attr': {'class': 'form-inline'}
                }) }}

                {# client selection box #}
                {{ form_label(actionForm.client, 'Label', {
                    'label_attr': {'class': 'sr-only'}
                }) }}
                {{ form_widget(actionForm.client, {
                    'attr': {'class': 'input-sm'}
                }) }}

                {# client actions #}
                <div class="btn-group" role="group" aria-label="Client Actions">
                    {{ form_widget(actionForm.createClient, {
                        'label': 'New Client',
                        'icon': 'ion-ios-compose-outline',
                        'attr': {'class': 'btn btn-sm btn-warning'}
                    }) }}
                    {{ form_widget(actionForm.editClient, {
                        'label': 'Edit Client',
                        'icon': 'ion-ios-list-outline',
                        'attr': {'class': 'btn btn-sm btn-info'}
                    })}}
                </div>

                {# create project #}
                {{ form_widget(actionForm.createProject, {
                    'label': 'Create Project',
                    'icon': 'ion-ios-compose-outline',
                    'attr': {'class': 'btn-success'}
                }) }}
                {{ form_end(actionForm) }}

            {% else %}

                <p>Welcome to OBOS! Let's <a href="#">add your first client</a> and get to work.</p>

            {% endif %}
            </div>
            <hr/>

            <div id="project-listing">
            {% if projects|length > 0 %}

            {% for project in projects %}

                <div class="project-summary panel panel-default">
                    <div class="panel-body">
                        <h4>{{ project.title }} <small>{{ project.shortTitle }}</small></h4>
                    </div>
                </div>
            {% endfor %}
            {% else %}

                <p>You don't have any projects yet.</p>

            {% endif %}
            </div>
        </div>

    </div>
{% endblock %}